* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

section.row {
  width: 98vw;
}

.loading {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.336);
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading i {
  color: white;
  font-size: 50px;
  animation-name: rotar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes rotar {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.btn {
  width: 80px;
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #8C4303;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: medium;
}

.btn:hover {
  background-color: #8C4303;
  color: white;
  font-weight: 500;
}

.subtitulos {
  margin: 40px 0px 30px;
  text-align: center;
  font-size: xx-large;
}

@media (max-width: 320px) {
  .subtitulos {
    margin: 40px 0px 10px;
    font-size: large;
  }
}
.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tarjetas .tarjeta {
  display: block;
  width: 500px;
  border: solid 1px;
  border-radius: 8px;
  overflow: hidden;
  padding: 15px;
  margin: 20px;
  background-color: #F2EAD0;
  transition: 0.3s;
}
.tarjetas .tarjeta .tarjeta__img {
  width: 100%;
}
.tarjetas .tarjeta .tarjeta__info {
  text-align: center;
}
.tarjetas .tarjeta .tarjeta__info .tarjeta__titulo {
  margin: 10px 0px;
  font-size: x-large;
}
.tarjetas .tarjeta .tarjeta__info .tarjeta__desc {
  font-size: large;
  text-align: left;
}
.tarjetas .tarjeta:hover {
  transform: scale(1.05);
}

.testimonios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.testimonios .testimonio {
  display: flex;
  width: 500px;
  border: solid 1px;
  border-radius: 8px;
  overflow: hidden;
  padding: 15px;
  margin: 10px;
  background-color: #F2EAD0;
  transition: 0.3s;
}
.testimonios .testimonio .testimonio__img {
  width: 100px;
  height: 100px;
}
.testimonios .testimonio .testimonio__info {
  text-align: center;
}
.testimonios .testimonio .testimonio__info .testimonio__titulo {
  font-size: 100%;
  margin-bottom: 10px;
}
.testimonios .testimonio .testimonio__info .testiminio__desc {
  margin-left: 10px;
  font-size: small;
  text-align: justify;
}
.testimonios .testimonio:hover {
  transform: scale(1.1);
}

.logos {
  color: white;
  font-size: x-large;
}

.footer__desc {
  color: white;
}

.headerIndex {
  background-color: rgba(165, 42, 42, 0.384);
  border-radius: 9px;
}
.headerIndex .h1headerIndex {
  font-size: 6vw;
}
.headerIndex .pHeader {
  font-size: 3vw;
}

.h1header {
  font-size: 6vw;
  background-color: rgba(165, 42, 42, 0.384);
  border-radius: 9px;
}

.imgHeader {
  width: 100vw;
}

.navEscritorio .navegacion a:hover {
  background-color: brown;
}

.navCelular a {
  font-size: 20px;
}

.navCelular ul li a:hover {
  background-color: brown;
}

@media (min-width: 800px) {
  .navCelular {
    display: none;
  }
}
@media (max-width: 800px) {
  .navEscritorio div {
    display: none;
  }
}
.galeria__desc {
  font-size: large;
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 40px;
}

@media (min-width: 480px) {
  .galeria__desc {
    font-size: x-large;
  }
}
.quienesSomos__desc {
  margin: 30px 90px 30px 120px;
  text-align: justify;
}

@media (max-width: 320px) {
  .quienesSomos__desc {
    margin: 15px 10px 15px 40px;
  }
}/*# sourceMappingURL=style.css.map */