.btn{
    width: 80px;
    display:inline-block;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #8C4303;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-size:medium;
}
.btn:hover{
    background-color: #8C4303;
    color: white;
    font-weight: 500;
}