.headerIndex{
    background-color: rgba(165, 42, 42, 0.384);
    border-radius: 9px;
    .h1headerIndex{
        font-size: 6vw;
    }
    .pHeader{
        font-size: 3vw;
    }
}
.h1header{
    font-size: 6vw;
    background-color: rgba(165, 42, 42, 0.384);
    border-radius: 9px;
}
.imgHeader{
    width: 100vw;
    height: 30vh;
}
@media(min-width:321px){
    .imgHeader{
        height: 50vh;
    }
}
@media(min-width:481px){
    .imgHeader{
        height: 70vh;
    }
}
@media(min-width:601px){
    .imgHeader{
        height: 80vh;
    }
}