.headerIndex{
    background-color: rgba(165, 42, 42, 0.384);
    border-radius: 9px;
    .h1headerIndex{
        font-size: 6vw;
    }
    .pHeader{
        font-size: 3vw;
    }
}
.h1header{
    font-size: 6vw;
    background-color: rgba(165, 42, 42, 0.384);
    border-radius: 9px;
}
.imgHeader{
    width: 100vw;
}