.subtitulos{
    margin: 40px 0px 30px;
    text-align: center;
    font-size: xx-large;
}
@media(max-width:750px){
    .subtitulos{
        margin: 40px 0px 10px;
        font-size: x-large;
    }
}
@media(max-width:580px){
    .subtitulos{
        font-size: large;
    }
}