*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
section.row{
    width: 98vw;
}
@import "loading";
@import "btn";
@import "subtitulos";
@import "tarjetas";
@import "testimonios";
@import "footer";
@import "header";
@import "navegador";
@import "galeria__desc";
@import "quienesSomos__desc"